input {
    keyboard {
        xkb {
            layout "us"
            variant "dvp"
            options "caps:escape"
        }
    }
    touchpad {
        tap
        dwt
        disabled-on-external-mouse
    }
    warp-mouse-to-focus
    mod-key "Alt"
    mod-key-nested "Super"
}

layout {
    gaps 10
    struts {
        top -10
        bottom -10
        left 10
        right 10
    }
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    border {
        width 3
        active-color "@active@"
        inactive-color "@inactive@"
    }
    focus-ring {
        off
    }
    background-color "@background@"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    slowdown 0.2
    workspace-switch {
        off
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="foot"
    default-column-width {
        proportion 0.33333
    }
}

window-rule {
    match app-id="firefox"
    match app-id="google-chrome"
    open-maximized-to-edges true
}

overview {
    workspace-shadow {
        off
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Most Commands" { spawn "wlr-which-key"; }
    Mod+Ctrl+T hotkey-overlay-title="Emergency Terminal" { spawn "foot"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp  allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-monitor-down; }
    Mod+K     { focus-window-or-monitor-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}

debug {
    render-drm-device "/dev/dri/by-path/pci-0000:00:02.0-render"
}
