[force_move]
enable_force_move: true

[exclude_object]

[gcode_arcs]
resolution: 0.1

[input_shaper]
shaper_type_y: mzv
shaper_freq_y: 68
shaper_type_x: mzv
shaper_freq_x: 68

# Driver 0 - Front Right
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 32
rotation_distance: 40
position_endstop: 225
position_max: 225
position_min: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 50
homing_positive_dir: true
[tmc2209 stepper_x]
diag_pin: ^PA14
sense_resistor: 0.110
uart_pin: PE6
run_current: 0.5
stealthchop_threshold: 0
driver_SGTHRS: 100
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 3 - Front Left
[stepper_x1]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB6
microsteps: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
rotation_distance: 40
[tmc2209 stepper_x1]
sense_resistor: 0.110
uart_pin: PB3
run_current: 0.5
stealthchop_threshold: 0
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 4 - Back Right
[stepper_x2]
step_pin: PD6
dir_pin: !PD5
enable_pin: !PD7
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_x2:virtual_endstop
[tmc2209 stepper_x2]
diag_pin: ^PA13
sense_resistor: 0.110
uart_pin: PD4
run_current: 0.5
stealthchop_threshold: 0
driver_SGTHRS: 100
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 7 - Back Left
[stepper_x3]
step_pin: PD13
dir_pin: !PD12
enable_pin: !PB6
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_x2:virtual_endstop
[tmc2209 stepper_x3]
sense_resistor: 0.110
uart_pin: PD11
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 1 - Front Right
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PC15
microsteps: 32
rotation_distance: 40
position_endstop: 180
position_max: 180
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_positive_dir: true
homing_speed: 50
[tmc2209 stepper_y]
diag_pin: ^PA15
sense_resistor: 0.110
uart_pin: PE3
run_current: 0.5
stealthchop_threshold: 0
driver_SGTHRS: 106
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 2 - Front Left
[stepper_y1]
step_pin: PE1
dir_pin: !PE0
enable_pin: !PE2
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y1:virtual_endstop
[tmc2209 stepper_y1]
diag_pin: ^PB13
sense_resistor: 0.110
uart_pin: PB7
run_current: 0.5
stealthchop_threshold: 0
driver_SGTHRS: 85
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 5 - Back Left
[stepper_y2]
step_pin: PD2
dir_pin: PD1
enable_pin: !PD3
microsteps: 32
rotation_distance: 40
[tmc2209 stepper_y2]
sense_resistor: 0.110
uart_pin: PD0
run_current: 0.5
stealthchop_threshold: 0
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

# Driver 6 - Back Right
[stepper_y3]
step_pin: PC7
dir_pin: PC6
enable_pin: !PC8
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
[tmc2209 stepper_y3]
sense_resistor: 0.110
uart_pin: PD15
run_current: 0.5
stealthchop_threshold: 0
driver_TOFF: 2
driver_TBL: 1
driver_HSTRT: 7
driver_HEND: 4

[fan]
pin: PB1

[fan_generic remote-cooling]
pin: PA2

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_27004F000E50475532323720-if00

[stepper_z]
# back
step_pin: ze:PL0
dir_pin: ze:PL2
enable_pin: !ze:PL1
microsteps: 16
rotation_distance: 8
endstop_pin: ^ze:PA0
position_endstop: -0.1
position_min: -1
position_max: 120
homing_speed: 50

[stepper_z1]
# front
step_pin: ze:PC6
dir_pin: ze:PC4
enable_pin: !ze:PA7
microsteps: 16
rotation_distance: 8
#endstop_pin: ^ze:PA4

[stepper_z2]
# middle
step_pin: ze:PC0
dir_pin: ze:PG2
enable_pin: !ze:PC2
microsteps: 16
rotation_distance: 8

[probe]
pin: ^ze:PA6
z_offset: 0.75

[z_tilt]
horizontal_move_z: 10
speed: 100
z_positions: 
    0,180
    0,0
    220,90
points:
    10,180
    10,0
    220,90

[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_min: 10, 10
mesh_max: 215, 170
probe_count: 5, 3

[heater_bed]
heater_pin: ze:PE4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: ze:PK2
control: pid
pid_Kp: 74.371
pid_Ki: 1.871
pid_Kd: 739.079
min_temp: 0
max_temp: 130

[mcu ze]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A503TPQL-if00-port0

[extruder]
max_extrude_only_distance: 100.0
microsteps: 16
step_pin: ze:PA3
enable_pin: !ze:PA5
# === DFA ===
#gear_ratio: 20:1
#rotation_distance: 23.520
#dir_pin: !ze:PA1
# === Kyro-Gx 2-start ===
#gear_ratio: 37:2
gear_ratio: 23:1
rotation_distance: 53.5
dir_pin: ze:PA1
# === Top-Hat ===
#gear_ratio: 12:1
#gear_ratio: 23:1
#rotation_distance: 53.5
#dir_pin: ze:PA1
# END
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PA3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid_v
## Single block w/ extender: volcrazy uhf 40W
#pid_Kp: 30.671
#pid_Ki: 1.442
#pid_Kd: 163.133
# Single block w/ extender: volcrazy uhf 94W
pid_Kp: 18.869
pid_Ki: 1.021
pid_Kd: 87.151
## Single block w/ extender: volcrazy uhf 160W
#pid_Kp: 11.198
#pid_Ki: 0.619
#pid_Kd: 50.672
## Double block: supervolcrazy
#pid_Kp: 27.552
#pid_Ki: 1.155
#pid_Kd: 164.280

min_temp: 0
max_temp: 300
pressure_advance: 0.025
pressure_advance_smooth_time: 0.04
min_extrude_temp: 0

[controller_fan extruder-motor]
pin: ze:PH4
stepper: extruder

[heater_fan coldend-fan]
pin: PA0
heater: extruder
heater_temp: 50.0
#max_power: 0.9
#hardware_pwm: true
#cycle_time: 0.00001

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 25000
max_z_velocity: 30
max_z_accel: 200
square_corner_velocity: 25.0

########################################
# EXP1 / EXP2 (display) pins
########################################

[gcode_macro PRIME_LINE]
gcode:
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set next_y = max_y - 0.4 %}
    G90 ; Absolute Positioning
    G1 Z5 F3000                   ; move nozzle away from bed
    G1 X75 Y{max_y} Z0.3 F8000 ; Move to left side of tab
    G92 E0 ; Reset Extruder
    G1 E2 F600
    G92 E0 ; Reset Extruder
    G1 X130 Y{max_y} E16 F600  ; Move to right side of tab while extruding
    G1 X130 Y{next_y} F8000 ; Move over a little
    G1 X75 Y{next_y} E24 F600 ; Move to left side of tab while extruding
    G1 X80 Y{next_y} F8000 ; Move back into purge line to remove stragglers
    G1 Z0.5 F3000 ; Lift Z
    G92 E0 ; Reset Extruder

[gcode_macro START_PRINT]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    {% set extruder = params.T_EXTRUDER|default(0)|int %}
    {% set bed = params.T_BED|default(0) %}
    {% set ch = params.CHAMBER|default(0) %}
    M104 S{extruder}
    M140 S{bed}
    M190 S{bed}
    M109 S{extruder}
    #TEMPERATURE_WAIT sensor="Extruder" minumum={extruder} maximum={extruder + 30}
    G28
    G90
    M107
    PRIME_LINE

[gcode_macro END_PRINT]
gcode:
    M400                           ; wait for buffer to clear

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 30) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 8) %}
        {% set z_safe = 8.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G92 E0                         ; zero the extruder
    G91                            ; relative positioning
    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    G1 E-40.0 F600                 ; retract filament
    G90                            ; absolute positioning
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G0 X{max_x - 1} Y{max_y - 1} F3600     ; park nozzle at rear
    M84

[board_pins]
aliases:
    # EXP2 header
    EXP1_10=<5V>, EXP1_9=<GND>,
    EXP1_8=PE7,   EXP1_7=PE15,
    EXP1_6=PD8,   EXP1_5=PD9,     # Slot in the socket on the other side
    EXP1_4=PD10,  EXP1_3=PE11,
    EXP1_2=PE10,  EXP1_1=PB2,

    # EXP1 header
    EXP2_10=<3V3>, EXP2_9=<GND>,
    EXP2_8=<RST>, EXP2_7=PB11,
    EXP2_6=PA7,   EXP2_5=PE8,       # Slot in the socket on the other side
    EXP2_4=PA4,   EXP2_3=PE9,
    EXP2_2=PA5,   EXP2_1=PA6

# See the sample-lcd.cfg file for definitions of common LCD displays.
[gcode_macro TEST_SPEED]
gcode:
	# Speed
	{% set speed  = params.SPEED|default(250)|int %}
	# Iterations
	{% set iterations = params.ITERATIONS|default(1)|int %}
	# Acceleration
	{% set accel  = params.ACCEL|default(20000)|int %}
	# Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
	{% set bound = params.BOUND|default(20)|int %}
	# Size for small pattern box
	{% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
	
	# Large pattern
		# Max positions, inset by BOUND
		{% set x_min = printer.toolhead.axis_minimum.x + bound %}
		{% set x_max = printer.toolhead.axis_maximum.x - bound %}
		{% set y_min = printer.toolhead.axis_minimum.y + bound %}
		{% set y_max = printer.toolhead.axis_maximum.y - bound %}
	
	# Small pattern at center
		# Find X/Y center point
		{% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
		{% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
		
		# Set small pattern box around center point
		{% set x_center_min = x_center - (smallpatternsize/2) %}
		{% set x_center_max = x_center + (smallpatternsize/2) %}
		{% set y_center_min = y_center - (smallpatternsize/2) %}
		{% set y_center_max = y_center + (smallpatternsize/2) %}

	# Save current gcode state (absolute/relative, etc)
	SAVE_GCODE_STATE NAME=TEST_SPEED
	
	# Output parameters to g-code terminal
	{ action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
	
	# Home and get position for comparison later:
	G28 X Y
	GET_POSITION

	G90
	# Go to starting position
	G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

	# Set new limits
	SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

	{% for i in range(iterations) %}
		# Large pattern
			# Diagonals
			G0 X{x_min} Y{y_min} F{speed*60}
			G0 X{x_max} Y{y_max} F{speed*60}
			G0 X{x_min} Y{y_min} F{speed*60}
			G0 X{x_max} Y{y_min} F{speed*60}
			G0 X{x_min} Y{y_max} F{speed*60}
			G0 X{x_max} Y{y_min} F{speed*60}
			
			# Box
			G0 X{x_min} Y{y_min} F{speed*60}
			G0 X{x_min} Y{y_max} F{speed*60}
			G0 X{x_max} Y{y_max} F{speed*60}
			G0 X{x_max} Y{y_min} F{speed*60}
		
	# Small pattern
			# Small diagonals 
			G0 X{x_center_min} Y{y_center_min} F{speed*60}
			G0 X{x_center_max} Y{y_center_max} F{speed*60}
			G0 X{x_center_min} Y{y_center_min} F{speed*60}
			G0 X{x_center_max} Y{y_center_min} F{speed*60}
			G0 X{x_center_min} Y{y_center_max} F{speed*60}
			G0 X{x_center_max} Y{y_center_min} F{speed*60}
			
			# Small box
			G0 X{x_center_min} Y{y_center_min} F{speed*60}
			G0 X{x_center_min} Y{y_center_max} F{speed*60}
			G0 X{x_center_max} Y{y_center_max} F{speed*60}
			G0 X{x_center_max} Y{y_center_min} F{speed*60}
	{% endfor %}

	# Restore max speed/accel/accel_to_decel to their configured values
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}
	# Re-home and get position again for comparison:
	G28 X Y
	GET_POSITION

	# Restore previous gcode state (absolute/relative, etc)
	RESTORE_GCODE_STATE NAME=TEST_SPEED

[mcu pis]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66160F42344B737-if00
is_non_critical: true

[adxl345]
cs_pin: pis:gpio13
spi_software_sclk_pin: pis:gpio10
spi_software_mosi_pin: pis:gpio11
spi_software_miso_pin: pis:gpio12

[resonance_tester]
accel_chip: adxl345
probe_points:
       100,100,40
#accel_per_hz: 75
max_freq: 150

[gcode_macro EXCITATE_AXIS_AT_FREQ]
description: Maintain a specified excitation frequency for a period of time to diagnose and locate a source of vibration
gcode:
    {% set frequency = params.FREQUENCY|default(25)|int %}
    {% set time = params.TIME|default(10)|int %}
    {% set axis = params.AXIS|default("x")|string|lower %}

    {% if axis not in ["x", "y"] %}
        { action_raise_error("AXIS selection invalid. Should be either x or y.") }
    {% endif %}

    TEST_RESONANCES OUTPUT=raw_data AXIS={axis} FREQ_START={frequency-1} FREQ_END={frequency+1} HZ_PER_SEC={1/(time/3)}
    M400

[virtual_sdcard]
path: /var/lib/moonraker/gcodes
on_error_gcode:
    M400

[pause_resume]

[display_status]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
   {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
   {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F600 E-10 ; Retract filament 10 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F6000 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X{x_park} Y{y_park} F12000 ; Move Heat Bed to the front for easy print removal
      M84 ; Disable stepper motors
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}
